# Exclude a variety of commonly ignored directories.
exclude = [
  ".bzr",
  ".direnv",
  ".eggs",
  ".git",
  ".git-rewrite",
  ".hg",
  ".ipynb_checkpoints",
  ".mypy_cache",
  ".nox",
  ".pants.d",
  ".pyenv",
  ".pytest_cache",
  ".pytype",
  ".ruff_cache",
  ".svn",
  ".tox",
  ".venv",
  ".vscode",
  "__pypackages__",
  "_build",
  "buck-out",
  "build",
  "dist",
  "node_modules",
  "site-packages",
  "venv",
]
line-length = 120

[format]
quote-style = 'single'

[lint.per-file-ignores]
'src/app.py' = ['E402']
'src/logging.py' = ['E402']
'src/pages/scanner.py' = ['E402']
'src/pages/generator.py' = ['E402']
'src/net.py' = ['E402']